@font-face {
    font-family: 'Europe';
    src: url('../fonts/europe-normal.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Europe';
    src: url('../fonts/europe-bold.ttf') format('truetype');
    font-weight: 700;
}